@use '../../styles/extends';
@import '../../styles/resolutions';

.MenuSectionLinks {
   display: grid;
   grid-auto-flow: column;
   grid-template-columns: 1fr 1fr;
   grid-column-gap: var(--in-hr-n);

   @media screen and (min-width: $wl) {
      display: none;
   }

   &__link {
      @extend %button-link;
   }

   &-desktop {
      display: grid;
      height: 100%;
      grid-column-gap: 2rem;
      align-items: center;

      & .MenuSectionLinks {
         &__link {
            padding: 12px 15px;
            border: 1px solid var(--co-white);
            background-color: transparent;
            transition: background-color 300ms ease;

            @media (hover: hover) and (pointer: fine) {
               &:hover {
                  outline: 1px solid var(--co-white);
                  background-image: none;
                  background-color: var(--co-black);
               }
            }
         }
      }
   }
}
