@use '../../styles/extends';
@import '../../styles/resolutions';

.SearchBlock {
   &__header {
      @extend %card-header-info;
   }

   &__fields {
      @extend %card-text;
      display: grid;
      grid-gap: var(--in-vr-n);
   }
}

body {
   @media screen and (min-width: $wl) {
      height: auto !important;
      overflow-y: auto !important;
   }
}
