@use '../../styles/extends';

.Loader {
   @extend %full-screen;
   @extend %center-block;
   position: fixed;
   background-color: var(--co-yellow);
   z-index: var(--lr-alerts);

   &__wrapper {
      text-align: center;
   }

   &__image {
      font-size: 12rem;
   }

   &__text {
      display: inline-block;
      position: relative;
      font: var(--ft-title);

      span {
         position: absolute;
         top: 0;
         left: 100%;
      }
   }

   &.enter {
      opacity: 0;
      &-active {
         transition: opacity 300ms;
         opacity: 1;
      }
      &-done {
         opacity: 1;
      }
   }

   &.exit {
      opacity: 1;
      &-active {
         transition: opacity 300ms;
         opacity: 0;
      }
   }
}
