@import '../../styles/resolutions';

.Menu {
   display: grid;
   align-content: start;
   grid-row-gap: var(--in-vr-n);
   height: 100%;
   width: 100%;
   padding: var(--in-hr-n);
   background-color: var(--co-yellow);
   overflow: hidden auto;

   @media screen and (min-width: $ws) {
      grid-template-columns: 560px;
      justify-content: center;
   }
}
