@use '../../styles/extends';
@import '../../styles/resolutions';

.WelcomePageLayout {
   @extend %full-screen;
   position: fixed;
   background-image: url('../../images/background.jpg');
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-size: cover;
   overflow: hidden;

   &__wrapper {
      display: grid;
      grid-template-rows: repeat(2, 100%);
      // Allows to use 100% in grid-template-rows
      height: 100%;
      width: 100%;
      overflow-y: auto;
      overflow-x: hidden;
   }

   &__topScreen {
      display: grid;
      grid-template-rows: auto 1fr auto;
   }

   &__header {
   }

   &__contacts {
      @media screen and (min-width: $wxs) and (orientation: 'portrait') {
         align-self: center;
         justify-self: end;
      }

      @media screen and (min-width: $hm) and (orientation: 'landscape') {
         align-self: center;
         justify-self: end;
      }
   }

   &__main {
      align-self: flex-end;

      @media screen and (min-width: $ws) and (orientation: 'portrait') {
         padding-bottom: 15%;
      }

      @media screen and (min-width: $hm) and (orientation: 'landscape') {
         padding-bottom: 5%;
      }
   }

   &__bottomScreen {
      display: grid;
      grid-template-rows: 1fr auto;
   }

   &__navigation {
      grid-row: 1/2;

      @media screen and (min-width: $wxs) and (orientation: 'portrait') {
         max-width: 70%;
      }

      @media screen and (min-width: $ws) and (orientation: 'portrait') {
         max-width: 50%;
         padding-bottom: 15%;
      }

      @media screen and (min-width: $hm) and (orientation: 'landscape') {
         max-width: 40%;
         padding-bottom: 5%;
      }
   }

   &__footer {
      grid-row: 2/3;
   }
}
