%full-screen {
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
}

%center-block {
   display: flex;
   justify-content: center;
   align-items: center;
}

%card-header {
   display: grid;
   grid-template-columns: 1fr auto;
   grid-auto-flow: column;
   padding: var(--in-small);
   font: var(--ft-title);
   color: var(--co-white);
}

%card-header-info {
   @extend %card-header;
   background-image: var(--gr-headers);
}

%card-text {
   padding: var(--in-small);
   font: var(--ft-text);
   background-color: var(--co-white);
}

%button-link {
   display: block;
   padding: var(--in-small);
   text-align: center;
   font: var(--ft-title);
   color: var(--co-white);
   background-color: var(--co-green);
}
