/* Fonts */
@font-face {
   font-family: 'BreackingBad';
   src: url('../fonts/BreackingBad.woff2') format('woff2'),
      url('../fonts/BreackingBad.woff') format('woff'),
      url('../fonts/BreackingBad.otf') format('otf');
   font-weight: 400;
   font-style: normal;
}
@font-face {
   font-family: 'ReadexPro';
   src: url('../fonts/ReadexPro-Regular.woff2') format('woff2'),
      url('../fonts/ReadexPro-Regular.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: 'ReadexPro';
   src: url('../fonts/ReadexPro-Bold.woff2') format('woff2'),
      url('../fonts/ReadexPro-Bold.woff') format('woff');
   font-weight: 700;
   font-style: normal;
}
