// Width
// Smartphones
$wxs: 370px;
// Small tablets
$ws: 600px;
// Tablets
$wm: 768px;
// Big Tablets
$wl: 1024px;
// Laptops
$wxl: 1280px;
// Desctops
$wxxl: 1440px;

// Height
// Small smartphones
$hs: 660px;
// Smartphones
$hm: 750px;
// Small tablets
$hl: 1000px;
// Tablets
// Laptops
// Desktops
