// Width
// Small smartphones
$wxs: 370px;
// Smartphones
$ws: 600px;
// Small tablets
$wm: 800px;
// Tablets
$wl: 1280px;
// Laptops
$wxl: 1440px;
// Desktops

// Height
// Small smartphones
$hs: 690px;
// Smartphones
$hm: 800px;
// Small tablets
$hl: 1000px;
// Tablets
// Laptops
// Desktops
