@import './resolutions';

:root {
   // Font sizes
   --fs-header: 3.5rem;
   --fs-subheader: 2.4rem;
   --fs-title: 2rem;
   --fs-text: 1.6rem;

   @media screen and (min-width: $wxs) and (min-height: $hs) {
      --fs-header: 4.5rem;
      --fs-subheader: 2.8rem;
      --fs-title: 2.2rem;
      --fs-text: 1.8rem;
   }

   // Indents
   --in-hr-n: 20px;
   --in-vr-n: 15px;
   --in-vr-s: 10px;
   --in-normal: var(--in-vr-n) var(--in-hr-n);
   --in-small: var(--in-vr-s);

   @media screen and (min-width: $wm) {
      --in-hr-n: 30px;
      --in-vr-n: 20px;
      --in-vr-s: 15px;
   }

   // Font families
   --ff-bb: 'BreackingBad';
   --ff-radex: 'ReadexPro', 'Tahoma', 'Arial', sans-serif;

   // Fonts
   --ft-header: var(--fs-header) / 1 var(--ff-bb);
   --ft-subheader: 700 var(--fs-subheader) / 1 var(--ff-radex);
   --ft-title: 700 var(--fs-title) / 1.25 var(--ff-radex);
   --ft-text: var(--fs-text) / 1.25 var(--ff-radex);

   // Colors
   --co-yellow: #f2ae30;
   --co-yellow-t: #f2ae30d3;
   --co-lime: #ffe600;
   --co-green: #182c10;
   --co-black: #000;
   --co-white: #fff;
   --co-error: #ce0000;

   // Gradients
   --gr-headers: linear-gradient(90deg, #070c05, #182c10, #2d4916);
   --gr-square: linear-gradient(
      135deg,
      #29a461,
      #29a461,
      #1e8047,
      #145c36,
      #014520,
      #09331d
   );

   // Shadows
   --bs-main: 7px 10px 10px var(--co-black);
   // Hover glow
   --bs-glow: 0 0 10px 5px var(--co-lime);

   // Border
   --bd-main: 2px solid var(--co-white);

   // Layers
   --lr-normal: auto;
   --lr-normal-s: 10;
   --lr-normal-m: 20;
   --lr-normal-l: 30;
   --lr-menu: 100;
   --lr-extra-t: 150;
   --lr-alerts: 1000;
}
