@import '../../styles/resolutions';

.Navigation {
   height: 100%;
   display: grid;
   align-content: flex-end;
   grid-gap: var(--in-vr-n);
   padding: var(--in-normal);

   &__linkWrapper {
   }
}
