@import '../../styles/resolutions';

.Navigation {
   height: 100%;
   display: grid;
   align-content: end;
   grid-gap: var(--in-vr-n);
   padding: var(--in-normal);
   padding-bottom: 20px;

   @media screen and (orientation: 'landscape') {
      grid-auto-flow: column;
      grid-auto-columns: 1fr;
   }

   @media screen and (min-height: $hm) {
      grid-auto-flow: row;
   }
}
