.Description {
   display: flex;
   justify-content: center;
   padding: var(--in-normal);
   padding-top: 0;

   &__message {
      max-width: 600px;
      padding: var(--in-small);
      font: var(--ft-text);
      background-color: var(--co-yellow-t);
      border: var(--bd-main);
   }

   &__text {
      text-indent: 1em;
   }
}
