@import '../../styles/resolutions';

.Header {
   padding: var(--in-normal);
   background-image: var(--gr-headers);
   border: var(--bd-main);
   box-shadow: 0 0 15px 10px var(--co-black);

   &__text {
      display: flex;
      align-items: center;
      font: var(--ft-header);
      color: var(--co-white);
   }

   &__symbolWrapper {
      display: block;
      margin-right: 0.1em;
      position: relative;
      width: 40px;
      height: 40px;
      overflow: hidden;
      background-image: var(--gr-square);

      @media screen and (min-width: $wxs) {
         width: 52px;
         height: 52px;
      }

      &:nth-of-type(3) {
         margin-left: 0.375em;
      }
   }

   &__symbol {
      position: absolute;
      top: -3px;
      font-size: 53px;

      @media screen and (min-width: $wxs) {
         top: -4px;
         left: 0;
         font-size: 68px;
      }
   }

   &__wordPart {
      display: inline-block;
      margin-top: 0.1em;
   }

   &__titleHidden {
      display: none;
   }
}
