@use '../../styles/extends';
@import '../../styles/resolutions';

.Contacts {
   height: 100%;
   display: flex;
   justify-content: center;
   flex-direction: row;
   gap: 2rem;
   padding: var(--in-normal);
   font-size: 4rem;

   @media screen and (min-height: $hs) {
      flex-direction: column;
   }

   @media screen and (min-width: $wl) {
      flex-direction: row;
   }

   &__contactLink {
      @extend %center-block;
      padding: 0.15em;
      color: var(--co-white);
      border: 1px solid var(--co-white);
      background-image: var(--gr-square);
      background-color: #1e8047;
      transition: background-color 300ms ease;

      @media screen and (min-width: $wl) {
         background-image: none;
         background-color: transparent;
      }

      @media (hover: hover) and (pointer: fine) {
         &:hover {
            outline: 1px solid var(--co-white);
            background-image: none;
            background-color: var(--co-black);
         }
      }
   }
}
