@use '../../styles/extends';
@import '../../styles/resolutions';

.SearchField {
   cursor: pointer;

   &__options {
      @extend %full-screen;
      position: fixed;
      padding: var(--in-normal);
      background-color: var(--co-yellow-t);
      z-index: var(--lr-normal-l);

      @media screen and (min-width: $wl) {
         position: absolute;
         padding: 0;
      }

      &.enter {
         opacity: 0;
         transform: scale(0.01);

         @media screen and (min-width: $wl) {
            transform: none;
         }

         &-active {
            opacity: 1;
            transform: scale(1);
            transition: opacity 300ms ease-in, transform 300ms ease-out;
         }
      }

      &.exit {
         display: none;

         @media screen and (min-width: $wl) {
            display: block;
            opacity: 1;
         }

         &-active {
            @media screen and (min-width: $wl) {
               opacity: 0;
               transition: opacity 300ms ease-in;
            }
         }
      }
   }

   &__wrapper {
      position: relative;
      height: 100%;
      padding: var(--in-normal);
      background-color: var(--co-white);
      overflow: hidden;
   }

   &__list {
      height: 100%;
      overflow-y: auto;
      font: var(--ft-text);
   }

   &__close {
      position: absolute;
      display: block;
      top: 0;
      right: 0;
      padding: 15px;
      font-size: 3rem;
      background-color: var(--co-white);
   }

   &__link {
      display: block;
      line-height: 1.5;
      cursor: pointer;
   }
}
